* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}


button,
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none; /* Remove default background */
    border: none; /* Remove default border */
    color: inherit; /* Inherit text color */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    font-family: inherit; /* Inherit font family */
    font-size: inherit; /* Inherit font size */
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove any default box-shadow */
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea {
    font-size: 16px; /* Ensure font size is 16px or larger */
}

