/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  overflow-y: auto;
} */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; /* Ensure at least full viewport height */
}

.panelContainer {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.routeBuilder, .routeOverviewContainer {
  width: 468px;
}

/* Media query for smaller screens */
@media (max-width: calc(468px * 2 + 36px)) { /* Adjust the max-width value based on the combined width of the two divs plus the gap */
  .panelContainer {
    flex-direction: column;
    gap: 36px;
    width: 100%;
    max-width: 468px;
  }

  .routeBuilder, .routeOverviewContainer {
    width: 100%;
  }

  .main {
    padding-top: 36px;
    padding-left: 10px;
    padding-right: 10px;
  }

}

.routeBuildingBlock {
  width: 100%;
  height: 166px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.routeBuildingBlockForm {
  padding: 16px;
  flex-grow: 1;
  width: 100%;
}

.routeBuildingBlockGarbageButtonContainer{
  height: 100%;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.routeBuildingBlockGarbageButtonContainer:hover {
  border: 2px solid #000000;
  cursor: pointer;
}

.routeBuildingBlockGarbageButtonContainer.disabled {
  pointer-events: none;
  border: 0;
  cursor: default;
}

.routeBuildingBlockGarbageButtonContainer.disabled:hover {
  border: 0;
}


.addressTextField {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #000000;
  padding: 10px;
}

.addressTextField:focus {
  outline: none;
}

.addressTextField:disabled {
  border-color: #A6A6A6;
  background-color: #f0f0f0;
  color: #A6A6A6;
}

.modeOptionButton {
  width: 88px;
  height: 36px;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.modeOptionButton:hover {
  color: #000000;
  border: 2px solid #000000;
  font-weight: 700;
  cursor: pointer;
}

.actionButtonHolder {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

@media (max-width: 448px) {
  .modeOptionButton {
    width: 72px;
  }

  .actionButtonHolder {
    gap: 4px;
  }
}

@media (max-width: 375px) {
  .modeOptionButton {
    width: 68px;
  }
}

.active {
  border: 2px solid #000000;
  font-weight: 700;
  color: #000000;
}

.routeBuilder > * {
  margin-bottom: 10px;
}

.actionButton {
  width: 88px;
  height: 36px;
  border: 0px;
  border-radius: 36px;
  font-weight: 600;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.actionButton:hover {
  border: 2px solid #000000;
  cursor: pointer;
}

.actionButton:disabled {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  pointer-events: none;
}

.routeDetailsContainer {
  background-color: rgba(166, 166, 166, 0.15);
  padding: 16px;
  border-radius: 4px;
  width: 100%;
}

.routeDetailsTitleContainer{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.routeDirectionsBlockTitle:hover {
  cursor: pointer;
}

.routeDirectionsBlock {
  border-radius: 4px;
  display: column;
  justify-content: space-between;
  padding: 8px;
}

.routeDetailsContainer > .routeDirectionsBlock {
  margin-top: 12px;
}

.routeDirectionsBlockTitle {
  display: flex;
  justify-content: space-between;
  line-height: 16px;
}

.routeDirectionsInstructionsContainer {
  /* Reset font sizes and weights */
  /* font-size: inherit;
  font-weight: inherit; */
  margin-top: 6px;
}

/* Override specific elements */
.instructionText b,
.instructionText div {
  /* Ensure no changes to font size or weight */
  font-size: inherit !important;
  font-weight: inherit !important;
}

.durationDistance {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

.durationDistance span {
  white-space: nowrap; /* Prevents text from wrapping prematurely */
}

@media (max-width: 500px) {
  .durationDistance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.transitCommuteIconPreview {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 16px;
  gap: 2px;
  padding-top: 2px;

}

.transitCommuteIcon {
  height: 100%;
  width: auto;
  /* margin-left: 2px; */
  /* margin-right: 2px; */
}

/* styles/Modal.module.css */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(2, 0, 36, 0.5) 0%, rgba(9, 9, 121, 0.5) 35%, rgba(0, 212, 255, 0.5) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 12px;
  width: 300px;
  text-align: center;
  /* height: 300px; */
}
@media (min-width: 600px) {
  .modalContent {
    width: 400px;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #8783D1;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dateTimePickerContainer {
  position: relative;
  line-height: 16px;
  padding-right: 10px;
  overflow: visible;
}

.dateTimePickerDropdownToggle {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  height: 36px;
  display: flex;
  align-items: center; /* Center vertically */
  font-weight: 600;
}

.dateTimePickerDropdownMenu {
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  min-width: 150px;
  border: 1px solid;
}

.dateTimePickerDropdownItem {
  display: block;
  width: 100%;
  padding: 6px;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: white;
  border: 0;
  cursor: pointer;
  line-height: 16px; /* Ensure consistent line height */
}

.dateTimePickerDropdownItem:hover {
  background-color: #DAE0F2
}

.dateTimePickerIconContainer {
  display: flex;
  align-items: center;
}

.dateTimePickerIcon {
  margin-left: 8px; /* Adjust as needed for spacing between text and icon */
  font-size: 16px; /* Adjust icon size */
  height: 16px; /* Ensure fixed height */
  width: 16px; /* Ensure fixed width */
}

.dateTimePickerText {
  line-height: 16px; /* Ensure consistent line height */
}

.dateTimePickerInput {
  width: fit-content;
  font-family: inherit;
  border: 0;
  padding: 6px;
}